<!-- this is a boilerplate template, for re-using in all others -->

<!doctype html>
    <html>
        <head>
            <title>{{title}}</title>
       <style>
  
  
            H1 {text-align: center; font-color: blue; font-style: strong; }
            p { font-family: Verdana, Geneva, Tahoma, sans-serif; font-color: green; }
            ul {list-style-type: none ;}
        
            a:visited {color: blue ;}
            a:hover {color: purple; } 
            a:selected {color: green}
            .error{color: red; }

                    </style> 
        </head>
        <body>
        <nav>   
        <a href = "/blog">Main Blog Page</a> 
        <a href="/newpost">Add a Blog Entry</a>
        </nav>
    

        {% block content %}   <!-- use keyword block to tell it, this is where content will go -->
        {% endblock %}

    </body>
    </html>
